.heading{
    width: 100%;
    font-size: 20px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    color: black;
    font-weight: bold;
    font-style: italic;
}
.heading1{
    font-size: 14px;
    color: black;
    font-weight: bold;
    font-style: italic;
}
.footer{
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    line-height: 3;
    color: black;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px white;
}